.is-hidden {
  display: none;
}

.input {
  outline: none;
  background-color: whitesmoke;
  border: 4px solid orangered;
  padding-right: 30px;
}

.form-block {
  display: flex;

  justify-content: center;
  background-color: black;
}

.search-form {
  padding-top: 15px;
  padding-bottom: 15px;
}

.search {
  background-color: greenyellow;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
  display: inline-block;
}

.search:hover,
.search:focus {
  cursor: pointer;
  background-color: violet;
  outline: 0;
  outline-offset: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.image:hover {
  transform: scale(1.13);
}
